

@{
    ViewBag.Title = "Access Denied";
}

<h2 class="text-center text-success">Access Denied.</h2>
<p class="text-center fw-light">
    Restricted Area.
</p>
<p class="align-content-center justify-content-center text-center">
    @Html.ActionLink("Back", "Index", "Login")
</p>

